.main {
  border: 5px solid greenyellow;
  grid-area: main;
  overflow-y: auto;
  background-color: red;
  padding-inline-start: 3.125rem;
}

.page-heade {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block-start: 2.625rem;
  margin-block-end: 1.5rem;
  gap: 1rem;
}

.page-heade .actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media screen and (min-width: 1024px){
  .page-heade{
    flex-direction: row;
    gap: 0;
  }
  
}